@page "/statistic"
@using Nordic_Door.Client.Models;
@using Nordic_Door.Shared.Models.API;
@using Nordic_Door.Shared.Models.Database;
@inject ISnackbar Snackbar
@inject HttpClient httpClient;


<style>
    /Legg all styling her inne/

    .container{

    }

    h1 {
        display: flex;
        justify-content: center;

    }

    .row {

    }

    .displaybox{
      text-align:center;

    }

    .chart{

    }

    select {
        height: 2rem;
        width: 16rem;
        border: solid 2px black;
    }
</style>
<!--
        Lag tilbakemeldingserror dersom teamet eller den ansatte ikke har en forbedringsforslag
    -->

<h1>Statistikk</h1>


 <MudContainer Style="width:80%;">


    <div class="row"> 

        <div class="displaybox">
            <MudPaper Class="pa-16 ma-2" Elevation="3">

                    <h2>Ansatt Forbedringsforslags </h2>
                <select name="Ansatt" id="Ansatt" placeholder="ansatte">
                    <option value="Ansatt 1">Ansatt 1</option>
                </select>
            <div class="chart">
                <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="100%"></MudChart> 
                </div>
            </MudPaper>
        </div>

        <div class="displaybox">
            
           <!-- <MudPaper Class="pa-16 ma-2" Elevation="3">
               <EditForm class="checkTeamStatistics" Model "" OnValidSubmit="OnValidSubmit">
               <h2>Forbedringer utført av Teams</h2>
                <label for="team"> <h3>Velg ønsket Team</h3></label>
                <InputText typeof="text" id="team" name ="team"> 

                </InputText>
                </EditForm>
            </MudPaper>
             -->
        </div>
    </div>
    <div class="row">
            <div class="displaybox">
                    <MudPaper Class="pa-16 ma-2" Elevation="3">
                     <h2>Forbedringer utført pr team som snitt av antall ansatte pr. team</h2>

                    <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="100%"></MudChart>

                </MudPaper>
            </div>

            <div class="displaybox">
                <MudPaper Class="pa-16 ma-2" Elevation="3">
                    <h2>Utførte forbedringer totalt for bedriften </h2>
                    <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="100%"></MudChart>
                </MudPaper>
            </div>
    </div>
    </MudContainer>
    @code {

         private int Index = -1; //default value cannot be 0 -> first selectedindex is 0.

        public List<ChartSeries> Series = new List<ChartSeries>()
        {
            new ChartSeries() { Name = "United States", Data = new double[] { 40, 20, 25, 27, 46, 60, 48, 80, 15 } },
            new ChartSeries() { Name = "Germany", Data = new double[] { 19, 24, 35, 13, 28, 15, 13, 16, 31 } },
            new ChartSeries() { Name = "Sweden", Data = new double[] { 8, 6, 11, 13, 4, 16, 10, 16, 18 } },
        };
        public string[] XAxisLabels = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" };



        public GetTeamStatistics teamStatistics = new GetTeamStatistics();






    }